# Node.js / React Native
node_modules/

# Python
venv/
__pycache__/
*.pyc

# macOS
.DS_Store

# Logs
*.log

# React Native build
ios/Pods/
ios/build/
android/.gradle/
android/app/build/

# VSCode
.vscode/

# Env files
.env
.bundle/.bundle/

# ML Model (Too large for GitHub)
ml-processing/depression_distilbert_model/
